<div class="topic-page-grid">

  <div class="catalog-header">
    <a class="catalog-topic" [class.selected]="stuff.toLowerCase() === thing.name.toLowerCase()" *ngFor="let thing of topics"
      routerLink="/browse/{{thing.name.toLowerCase()}}">
      <div>{{thing.name}}</div>

    </a>
  </div>

  <div class="topic-left-rail" *ngIf="selectedSection">

    <h5>Quick Filter</h5>

    <input [(ngModel)]="filterText" placeholder="filter" class="form-control" (keyup)="updateUrl()">
    <br/>

    <h5>Browse by Category</h5>

    <a class="topic-list-item" [class.selected]="category == ''" routerLink="/browse/{{selectedSection.name.toLowerCase()}}/all">All</a>

    <a *ngFor="let topic of selectedSection.topics " class="topic-list-item" [class.selected]="topic.name.toLowerCase() == category.toLowerCase()"
      routerLink="/browse/{{selectedSection.name.toLowerCase()}}/{{topic.name.toLowerCase()}}" (mouseover)="topic.hovered = true"
      (mouseout)="topic.hovered = false">{{topic.name}}</a>


    <br/>

    <h5>Filter by Tags</h5>

    <div class="tag-panel">
      <div class="tag-item" *ngFor="let tag of selectedSection.topics[1].topics | topicFilter :category | topicTags " (click)="filterText = tag" [class.selected]="filterText === tag">
        {{tag}}
      </div>
    </div>

  </div>

  <div class="topic-list" *ngIf="selectedSection">

    <!-- <div class="list-options-panel">
      <div>Full Alphabetical List</div>
      <div>Full Categorized List</div>
      <div>Tiles</div>
    </div> -->

    <div class="display-mode-options">
      <div class="display-mode-option" (click)="displayMode = 'list'" [class.selected]="displayMode === 'list'">List</div>
      <div class="display-mode-option" (click)="displayMode = 'tiles'" [class.selected]="displayMode === 'tiles'">Tiles</div>
    </div>


    <div class="topic-group" *ngFor="let topic of selectedSection.topics | topicFilter: category">


      <div *ngIf="(topic.topics|topicFilter:filterText).length > 0">
        <h3>{{topic.name}}</h3>


        <div class="topic-text-list" *ngIf="displayMode === 'list'">

          <ng-container *ngFor="let topic2 of topic.topics | sortBy: 'name' | topicFilter : filterText">

            <a class="topic-list-item" href="https://www.cafepress.com/+{{topic2.searchTerm}}+gifts" *ngIf=" topic2.image" [class.hovered]=" topic2.hovered"
              (mouseover)=" topic2.hovered = true" (mouseout)=" topic2.hovered = false" [innerHtml]="topic2.name">
            </a>

            <ng-container *ngFor="let topic3 of  topic2.topics">

              <a class="topic-list-item" href="https://www.cafepress.com/+{{topic3.searchTerm}}+gifts" *ngIf="topic3.image" [class.hovered]=" topic3.hovered"
                (mouseover)=" topic3.hovered = true" (mouseout)=" topic3.hovered = false">
                {{ topic3.name}}
              </a>

            </ng-container>

          </ng-container>

        </div>


        <div class="topic-tiles" *ngIf="displayMode === 'tiles'">

          <ng-container *ngFor="let topic2 of topic.topics | topicFilter : filterText">

            <a class="topic-panel" [class.square]="stuff === 'products'" href="https://www.cafepress.com/+{{topic2.searchTerm}}+gifts"
              *ngIf=" topic2.image" [class.hovered]=" topic2.hovered" (mouseover)=" topic2.hovered = true" (mouseout)=" topic2.hovered = false">

              <div *ngIf="topic2.imageText" class="image-text" [innerHtml]="topic2.imageText"></div>
              <img *ngIf="!topic2.imageText" [src]=" topic2.image || 'https://i3.cpcache.com/product/1662742122/Momma_Bear_T-Shirt_300x300.jpg?height=300&width=300&qv=90&side=front&Filters=[{%22name%22:%22background%22,%22value%22:%22ddddde%22,%22sequence%22:2}]'">
              <div class="name" [innerHtml]="topic2.name"></div>

            </a>

            <ng-container *ngFor="let topic3 of  topic2.topics ">

              <a class="topic-panel" href="https://www.cafepress.com/+{{topic3.searchTerm}}+gifts" *ngIf="topic3.image" [class.square]="stuff === 'products'"
                [class.hovered]=" topic3.hovered" (mouseover)=" topic3.hovered = true" (mouseout)=" topic3.hovered = false">

                <img [src]=" topic3.image || 'https://i3.cpcache.com/product/1662742122/Momma_Bear_T-Shirt_300x300.jpg?height=300&width=300&qv=90&side=front&Filters=[{%22name%22:%22background%22,%22value%22:%22ddddde%22,%22sequence%22:2}]'">
                <div class="name">{{ topic3.name}}</div>

              </a>

            </ng-container>

          </ng-container>

        </div>

      </div>

    </div>

  </div>

</div>