<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Super Duper Taxonomy Tool of Doom
  </h1>
</div>

<div>
  Number of Categories: {{numberOfCategories}}
</div>
<div>
    Number of Visible Categories: {{numberOfVisibleCategories}}
  </div>
<div>
    Number of PTNs: {{numberOfPTNs}}
  </div>
  <div>
      Number of Visible PTNs: {{numberOfVisiblePTNs}}
    </div>

<button (click)="selectedCategory = taxonomy">Reset</button>

<table class="table table-sm table-striped">
  <tr>
    <th>Left Rail Label</th>
    <th>H1</th>
    <th>SearchField</th>    
    <th>PTN</th>
    <th>Meta</th>
    <th>Footer</th> 
  </tr>
  <tr *ngFor="let category of selectedCategory.categories" >
    <td (click)="selectedCategory = category">{{category.leftRailLabel}}</td>
    <td>{{category.h1}}</td>
    <td>{{category.searchField}}</td>    
    <td>{{category.ptn}}</td>
    <td>{{category.productMetaDescription}}</td>
    <td>{{category.productFooter}}</td>
  </tr>
</table> -->

<!-- <div>{{taxonomy | json : 3}}</div> -->

<router-outlet></router-outlet>